@font-face {
  font-family: SF Pro Display Regular;
  src: url("../../fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
}
@font-face {
  font-family: SF Pro Display Bold;
  src: url("../../fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
}